footer.footer
            .footer-box
                #foot 
                    a #[img(src="../public/img/instagram.jpg",alt="")]
                    a #[img(src="../public/img/fb.png", alt="")]
                    a #[img(src="../public/img/twitter.png", alt="")] 
                h1 copyrights © 2021 by govind singh 