nav.navbar 
    .nav-left
         h1 #[span â„]current weather
    .nav-right
        ul
            li #[a(href="aboutus") Aboutus]
            li #[a(href="weather") Weather]
            li #[a(href="/") Home]      