doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title current weather
        link(rel="shortcut icon", href="../public/img/cloudlogo.png", type="image/x-icon")
        link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
        link(rel="stylesheet", href="../public/css/style.css")
        link(rel="stylesheet" ,media="screen and (max-width:1054px)" ,href="../public/css/responsive.css")
    body
        include ./includes/header 
        section.error-container 
            h1 page not found
            .error-box 
                img(src="../public/img/error.jpg", alt="")
        include ./includes/footer