doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title current weather
        link(rel="shortcut icon", href="../public/img/cloudlogo.png", type="image/x-icon")
        link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
        link(rel="stylesheet", href="../public/css/style.css")
        link(rel="stylesheet" ,media="screen and (max-width:1054px)" ,href="../public/css/responsive.css")
    body 
        include ./includes/header
        section 
            .input-part 
                input(type="text",placeholder="enter city name", autocomplete="off")#city-name-enter
                button(type="submit")#submit-btn search
            div(style="display: block")#temp-info  
                .part-1 
                    span#current_day 
                    p #[span#current_date]  
                .part-2 
                    #top-layer
                        p#city-name-out enter city name
                    .main-layer
                        p #[span#temp 0]#[sup 0] C   
                        p#temp-status   
        include ./includes/footer
        script(src="../public/script.js")  